127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
127.0.1.1  localhost.test
192.168.2.2 control.test control
192.168.2.3 iss1.test iss1
192.168.2.4 iss2.test iss22
192.168.2.5 iss3.test iss3
192.168.2.6 iss4.test iss4
192.168.2.7 iss5.test iss5
